.panel.panel-info
  .panel-heading
    %h1 Log In
  .panel-body
    %form{name: "loginForm", role: "form", novalidate: true, data: {ng_submit: "vm.login()"}}
      %div{data: {ng_include: "'auth/_form.html'"}}
      %input.btn.btn-default.btn-lg{type: "submit", value: "Log In", data: {ng_disabled: "loginForm.$invalid"}}
